<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132591313514-pf7m784onh7259oegi9cat0b3ulecdse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132591313514-pf7m784onh7259oegi9cat0b3ulecdse</string>
	<key>API_KEY</key>
	<string>AIzaSyDiV7JWvsfZGAlcUQmQSYjtAxrZQMLIW8g</string>
	<key>GCM_SENDER_ID</key>
	<string>132591313514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ToDo</string>
	<key>PROJECT_ID</key>
	<string>todoapp-852fe</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-852fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132591313514:ios:8bc7b6a8f4eb4a16006013</string>
</dict>
</plist>